* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f2f2f2;
  background-color: #141518;
}

#image {
  display: none;
}

.tabs {
  height: 48px;
  border-bottom: 1px solid #313134;
  display: flex;
}
.tabs-item {
  width: 50%;
  height: 48px;
  display: inline-block;
  appearance: none;
  border: none;
  background-color: transparent;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(242,242,242,.5);
  transition: color .3s;
  cursor: pointer;
  outline: none;
}
.tabs-item:hover {
  color: rgba(242,242,242,.8);
}
.tabs-item:first-child {
  border-right: 1px solid #313134;
}
.tabs-item.active {
  color: #f2f2f2;
}



.section {
  padding: 32px;
}
.section#section-uploading {
  text-align: center;
}
.content h1 {
  font-size: 20px;
  font-weight: bold;
}
.content h2 {
  font-size: 14px;
  font-weight: normal;
  margin-top: 8px;
  color: rgba(242,242,242,.7);
}

.select-files {
  display: inline-block;
  color: #f2f2f2;
  background-color: #1BB76E;
  font-weight: bold;
  padding: 12px 24px;
  margin-top: 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .3s;
}
.select-files:hover {
  background-color: #17A563;
}



.success h2 {
  font-size: 20px;
}
.success h3 {
  margin-top: 8px;
  font-size: 14px;
  color: rgba(242,242,242,.7);
  font-weight: normal;
}
.success h3 button {
  display: inline;
  font-size: 14px;
  appearance: none;
  color: #17A563;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  transition: border-color .3s;
}
.success h3 button:hover {
  border-color: #17A563;
}



.uploaded-items {
  max-height: 194px;
  margin: 32px -32px 0;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
}
.uploaded-items .item {
  padding: 12px 32px;
  height: 64px;
  border-top: 1px solid rgba(242,242,242,.12);
  display: flex;
  align-items: center;
}
.uploaded-items .item:last-child {
  border-bottom: 1px solid rgba(242,242,242,.12);
}
.item-img {
  min-width: 40px;
  height: 40px;
  border-radius: 4px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.item-description {
  margin-left: 12px;
}
.item-description a {
  font-size: 12px;
  text-decoration: none;
  color: #17A563;
}
.item-description a:hover {
  text-decoration: underline;
}
.item-clipboard {
  appearance: none;
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: color .3s;
  outline: none;
}
.item-clipboard:hover {
  color: rgba(255,255,255,.8);
}
.item-copied {
  color: rgba(255,255,255,.5);
  font-size: 12px;
  opacity: 0;
  transition: opacity 1s;
  cursor: default;
}

.more-items {
  font-size: 10px;
  font-weight: bold;
  color: #f2f2f2;
  padding: 4px 8px;
  background-color: #3498db;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 160px;
  border-radius: 2px;
  z-index: -1;
  opacity: 0;
  transition: opacity .3s ease;
}
.more-items.active {
  opacity: 1;
  z-index: 10;
}



.footer {
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: rgba(0,0,0,.12);
  color: rgba(242,242,242,.38);
  font-size: 12px;
  position: absolute;
  bottom: 0;
}
.footer a {
  color: rgba(242,242,242,.38);
  font-weight: bold;
  text-decoration: none;
}
.footer i {
  color: #FA3333;
}



.margin-top-32 {
  margin-top: 32px;
}
