* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f2f2f2;
  background-color: #141518;
}

#image {
  display: none;
}

.tabs {
  height: 48px;
  border-bottom: 1px solid #313134;
  display: flex;
}
.tabs-item {
  width: 50%;
  height: 48px;
  display: inline-block;
  appearance: none;
  border: none;
  background-color: transparent;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(242,242,242,.5);
  transition: color .3s;
  cursor: pointer;
}
.tabs-item:hover {
  color: rgba(242,242,242,.8);
}
.tabs-item:first-child {
  border-right: 1px solid #313134;
}
.tabs-item.active {
  color: #f2f2f2;
}



.section {
  padding: 32px;
}
.content {
  margin-top: 32px;
}
.content h1 {
  font-size: 20px;
  font-weight: bold;
}
.content h2 {
  font-size: 14px;
  font-weight: normal;
  margin-top: 8px;
  color: rgba(242,242,242,.7);
}

.select-files {
  display: inline-block;
  color: #f2f2f2;
  background-color: #1BB76E;
  font-weight: bold;
  padding: 12px 32px;
  margin-top: 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .3s;
}
.select-files:hover {
  background-color: #17A563;
}



.footer {
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: rgba(0,0,0,.12);
  color: rgba(242,242,242,.38);
  font-size: 12px;
  position: absolute;
  bottom: 0;
}
.footer a {
  color: rgba(242,242,242,.38);
  font-weight: bold;
  text-decoration: none;
}
.footer i {
  color: #FA3333;
}
